This is a Brazilian online company's pulic data ranging from 2016 to 2018
https://www.kaggle.com/olistbr/brazilian-ecommerce

The purpose of the work is to utilize the data to build the full spectrum of promotion effectiveness evaluation work, which involves many different components, such as:
- baseline 
- cannibaliation 
- pull forward
- halo, purchase together

This is the first step of the whole pipeline, the initial data investigagtion stage

Trying to answer following questions: 

- is there any promotions happening for any product in any day?
- is there any anormalies that I should be careful about during feature engineering process? 
- what are the features that might be useful in building ML model?

# Import packages and set up parameters

In [1]:
import pandas as pd
import warnings
import seaborn as sns
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

warnings.simplefilter("ignore")
pd.options.display.max_columns = None

In [2]:
input_path = 'olist/'
# files in this folder
!ls {input_path}

olist_customers_dataset.csv           olist_orders_dataset.csv
olist_geolocation_dataset.csv         olist_products_dataset.csv
olist_order_items_dataset.csv         olist_sellers_dataset.csv
olist_order_payments_dataset.csv      product_category_name_translation.csv
olist_order_reviews_dataset.csv

### Tables can be joined with the follow graph 

For the simplicity of this project, we are only focusing orders, payments, and items

![here](https://i.imgur.com/HRhd2Y0.png)

# Read data

In [12]:
table_names = ['olist_orders_dataset',
 'olist_products_dataset',
'olist_order_items_dataset',         
'olist_order_payments_dataset',      
'product_category_name_translation'
]
tables = [pd.read_csv(f'{input_path }{fname}.csv', low_memory=False) for fname in table_names]

In [16]:
i = 0 
for table in tables:
    print(table_names[i])
    i +=1
    print(table.columns)
    print("Table shape: ", table.shape)
    print('='* 80)

olist_orders_dataset
Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')
Table shape:  (99441, 8)
================================================================================
olist_products_dataset
Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')
Table shape:  (32951, 9)
================================================================================
olist_order_items_dataset
Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')
Table shape:  (112650, 7)
================================================================================
olist_order_payments_dataset
Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')
Table shape:  (103886, 5)
================================================================================
product_category_name_translation
Index(['product_category_name', 'product_category_name_english'], dtype='object')
Table shape:  (71, 2)
================================================================================

A few findings here: 
- we are dealing with around 112k rows of transaction data
- total 71 categories
- total 33k products

In [51]:
# get all tables
orders, products, order_items, payments, category_names = tables

# join order with order items with right join
joined_tables = pd.merge(orders, order_items, on ='order_id', how = 'right')
print(joined_tables.shape)

# left join with product 
joined_tables = pd.merge(joined_tables, products, on='product_id', how = 'left')
print(joined_tables.shape)

# lefft join with category names
joined_tables = pd.merge(joined_tables, category_names, on='product_category_name', how = 'left')
print(joined_tables.shape)

(112650, 14)
(112650, 22)
(112650, 23)

In [49]:
# left join with payments 
joined_tables = pd.merge(joined_tables, payments, on='order_id', how = 'left')
print(joined_tables.shape)

(117604, 27)

Duplications in payments

In [38]:
payments.order_id.value_counts()

fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
ee9ca989fc93ba09a6eddc250ce01742    19
                                    ..
cca51c8aee8800be07563b1ed2bc4bb3     1
972744bcdd80014057492bbab6b4e06f     1
fb13fbd4a34b34b577d30914e6377fed     1
39be11247d0d55f0326c3cc79e1eec38     1
7c48bb55e8e4f7e56d412e9653db37bc     1
Name: order_id, Length: 99440, dtype: int64

In [39]:
order_to_investigate = 'fa65dad1b0e818e3ccc5cb0e39231352'

In [40]:
orders[orders['order_id']==order_to_investigate]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
25932,fa65dad1b0e818e3ccc5cb0e39231352,9af2372a1e49340278e7c1ef8d749f34,shipped,2017-04-20 12:45:34,2017-04-22 09:10:13,2017-04-24 11:31:17,NaN,2017-05-18 00:00:00

In [43]:
payments[payments['order_id']==order_to_investigate]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
4885,fa65dad1b0e818e3ccc5cb0e39231352,27,voucher,1,66.02
9985,fa65dad1b0e818e3ccc5cb0e39231352,4,voucher,1,29.16
14321,fa65dad1b0e818e3ccc5cb0e39231352,1,voucher,1,3.71
17274,fa65dad1b0e818e3ccc5cb0e39231352,9,voucher,1,1.08
19565,fa65dad1b0e818e3ccc5cb0e39231352,10,voucher,1,12.86
23074,fa65dad1b0e818e3ccc5cb0e39231352,2,voucher,1,8.51
24879,fa65dad1b0e818e3ccc5cb0e39231352,25,voucher,1,3.68
28330,fa65dad1b0e818e3ccc5cb0e39231352,5,voucher,1,0.66
29648,fa65dad1b0e818e3ccc5cb0e39231352,6,voucher,1,5.02
32519,fa65dad1b0e818e3ccc5cb0e39231352,11,voucher,1,4.03
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.00
39108,fa65dad1b0e818e3ccc5cb0e39231352,29,voucher,1,19.26
39111,fa65dad1b0e818e3ccc5cb0e39231352,28,voucher,1,29.05
63369,fa65dad1b0e818e3ccc5cb0e39231352,15,voucher,1,14.04
65641,fa65dad1b0e818e3ccc5cb0e39231352,3,voucher,1,2.95
68853,fa65dad1b0e818e3ccc5cb0e39231352,8,voucher,1,26.02
73537,fa65dad1b0e818e3ccc5cb0e39231352,12,voucher,1,3.60
74239,fa65dad1b0e818e3ccc5cb0e39231352,21,voucher,1,4.11
74721,fa65dad1b0e818e3ccc5cb0e39231352,19,voucher,1,5.02
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.00
78050,fa65dad1b0e818e3ccc5cb0e39231352,16,voucher,1,12.86
79587,fa65dad1b0e818e3ccc5cb0e39231352,26,voucher,1,28.27
79670,fa65dad1b0e818e3ccc5cb0e39231352,17,voucher,1,3.72
80321,fa65dad1b0e818e3ccc5cb0e39231352,18,voucher,1,0.73
82593,fa65dad1b0e818e3ccc5cb0e39231352,7,voucher,1,0.32
85166,fa65dad1b0e818e3ccc5cb0e39231352,23,voucher,1,18.86
93337,fa65dad1b0e818e3ccc5cb0e39231352,20,voucher,1,150.00
99213,fa65dad1b0e818e3ccc5cb0e39231352,24,voucher,1,0.42
100606,fa65dad1b0e818e3ccc5cb0e39231352,22,voucher,1,4.03

In [44]:
payments[payments['order_id']==order_to_investigate].payment_value.sum()

457.99

In [45]:
392.55 + 65.44

457.99

The customer ordered one item, and used 29 vocher to pay for the product and freight

Need more business knowledge to understand the vocher payments

In [48]:
payments.payment_type.unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [50]:
payments_grp = payments.groupby(['order_id', 'payment_type'])['payment_value'].sum().reset_index()

In [52]:
# left join with payments 
joined_tables = pd.merge(joined_tables, payments_grp, on='order_id', how = 'left')
print(joined_tables.shape)

(115138, 25)